Source: searchit-terminal
Section: net
Priority: optional
Maintainer: Black Pearl Tech

Package: searchit-terminal
Architecture: any
Description: Search The Hell Out Of Internet
 Use various search engines and search sites with their search filters
 without even leaving your terminal
